.page-id-332 #masthead, .page-id-332 #colophon{
	display: none;
}

.sus_button_radio{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

.sus_last_radio{
	margin-right: 5px;
	margin-left: 5px;
}

.sus_button_label{
	vertical-align: center;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 0px;
}

.sus_container_radio{
	margin-top: 0px;
	padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sus_no_margin_bottom{
	margin-bottom: 0px;
}

#div-sus-button{
}

.sus_container_result{
	margin: 0 auto;
    padding-top: 6px;
}

.sus_field_result{
	border-radius: 40px;
	padding: 12px 12px;
	border: #0073aa;
	border-style: solid;
	border-width: 5px;
}

.sus_container_grade{

}

.sus_temp_container{
	
}

.sus_description{
	font-size: 1.2em;
	padding-bottom: 15px;
	border-bottom: 2px solid;
}